@font-face {
    font-family: 'plain-light';
    src: url('assets\plain-light-webfont.ttf') 
  }
  @font-face {
    font-family: 'plain-regular';
    src: url('assets\plain-regular-webfont.ttf') 
  }
  @font-face {
    font-family: 'silkserif-light';
    src: url('assets\silkserif-lightitalic-webfont.ttf') 
  }
  @font-face {
    font-family: 'silkserif-regular';
    src: url('assets\silkserif-regularitalic-webfont.ttf') 
  }
  
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'plain-light';
    color: #fff;

}



html, body{
    height: 100%;
    width: 100%;
}

body{
    overflow-x: hidden;
    overflow-y: scroll hidden;
}


#cursor {
    position: absolute; /* Instead of fixed */
    width: 20px;
    height: 20px;
    background: red;
    border-radius: 50%;
    pointer-events: none;
    transform: translate(-50%, -50%);
    transition: top 0.1s linear, left 0.1s linear;
}

#loader {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 999;
    background-color: #030303;
    padding: 25vh 10vw;
}

.line{
    /* background-color: red; */
    height: fit-content;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 3vw;
}

#line1-part1{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vw;
}
#line1-part1 h5 , #line1-part1 h6 {
    font-size: 3vw;
    font-weight: 100;
    font-family: 'silkserif-light';
}
#line1-part1 h5 {
    /* background-color: red; */
    width: 5vw;
    text-align: right;
}
.line h1{
    font-size: 6.5vw;
    text-transform: uppercase;
    font-weight: 900;
}
.line h2{
    font-size: 5vw;
    text-transform: uppercase;
    font-weight: 900;
    opacity: 0;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

@keyframes anime {
    0% {
        font-family: "plain-light";
        -webkit-text-stroke: 1px #fff;
        font-weight: 500;
        color: #fff;
        opacity: 1;
    }
    48% {
        font-family: "plain-light";
        -webkit-text-stroke: 1px #fff;
        font-weight: 500;
        color: #fff;
        opacity: 0;
    }
    50% {
        font-family: "silkserif-light";
        -webkit-text-stroke: 1px #fff;
        font-weight: 500;
        color: transparent;
        opacity: 1;
    }
    100% {
        font-family: "silkserif-light";
        -webkit-text-stroke: 1px #fff;
        font-weight: 500;
        color: transparent;
        opacity: 0;
    }
    
}
#main {
    position:relative;
    background-color: #030303;
}

#page1{
    height: 100vh;
    width: 100%;
    background-color: #151515;
}

#page1 #nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2.3vw 5.5vw;
    /* background-color: red; */
}

#nav-part2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3vw;
}

#nav-part2 h4{
    font-size: 0.8;
    font-weight: 500;
    align-items: end;
}

#nav-part2 h4 button{
    background-color: transparent;
}

.meow{
    /* background-color: red; */
    width: 75%;
    margin-left: 27%;
    display: flex;
    align-items: center;
    height: fit-content;
    overflow: hidden;
}

.meow:nth-child(2){
    margin-top: 15vh;
}
.meow h1{
    font-size: 7.2vw;
    text-transform: uppercase;
    line-height: 7vw;
    position: relative;
    
}

#meow01::before{
    content: "01";
    position: absolute;
    font-size: 3vw;
    font-weight: 100;
    font-family: "silk serif";
    left: 20%;
    top:5.5%;
}

.meow h1:hover{
    -webkit-text-stroke: 2px #fff;
    color: transparent;
    font-weight: 500;
}


#page2{ 
    min-height: 100vh;
    width: 100%;
    background-color: #2b2b2b;
    position: relative;
}

#page3{
    min-height: 100vh;
    width: 100%;
    /* background-color: #2b2b2b; */
    position: relative;
    padding-top: 7vh 0;
}

#page3-content{
    width: 72vw;
    position: relative;
    margin-left: 28%;
}

#page3-content h1{
    font-size: 7vw;
    text-transform: uppercase;
}

#page3-content h1::before{
    content: "04";
    position: absolute;
    font-size: 3vw;
    font-weight: 100;
    font-family: "silk serif";
    left: -12%;
    top:2%;
}

#page3-content .underline{
    height: 2px;
    width: 100%;
    background-color: #fff;
    margin: 5vw 0;
}

#page3-content>p{
    font-size: 2vw;
    width:50%;
    margin-bottom: 3vw;
}

#page3-flex{
    display: flex;
    /* align-items: center;
    justify-content: center; */
}

#page3-flex img{
    width: 48%;
}

#page3-flex p{
    font-size: 0.9vw;
    width: 20%;
}


#page3-blue-div{
    background-color: #3F7DF4;
    width: 33vw;
    padding: 4vw 3vw;
    position: relative;
    margin-top: -35vh;
    margin-left:26vw ;
}

.blue-div-elem{
    display:flex;
    align-items: flex-start;
    justify-content: space-between;
    /* background-color: red; */
    padding: 1.7vw 0;
    border-bottom: 2px solid #ffffffdb;
}

.blue-div-elem h4{
    font-size: 1.4vw;
    font-weight: 500;
}
.blue-div-elem p{
    width: 40%;
    font-size: 1vw;
}

#page4{
    min-height: 100vh;
    width: 100%;
    padding:5vw 0 ;
    position: relative;
}

.elem{
    /* background-color: aqua; */
    white-space: nowrap;
    overflow-x: hidden;
    overflow-y: hidden;
    margin-bottom: -2vw;
}

.elem h1{
    font-size: 7vw;
    -webkit-text-stroke: 1px  #fff;
    font-weight: 400;
    text-transform: uppercase;
    color: transparent;
    display: inline-block;
    margin-right: 16px;
    animation-name: anime2;
    animation-duration: 12s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

@keyframes anime2{
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(calc(-100% - 20px));
    }
}

.elem2{
    /* background-color: aqua; */
    white-space: nowrap;
    overflow-x: hidden;
    overflow-y: hidden;
    margin-bottom: -2vw;
}

.elem2 h1{
    font-size: 7vw;
    -webkit-text-stroke: 1px  #fff;
    font-weight: 400;
    text-transform: uppercase;
    color: transparent;
    display: inline-block;
    transform: translateX(calc(-100% - 20px));
    animation-name: anime2;
    animation-duration: 12s;
    animation-timing-function: linear;
    animation-iteration-count: infinite ;
    animation-direction: reverse;
}

.elem span{
    font-style: italic;
    font-family: "silkserif-regular";
    color: transparent;
}
.elem2 span{
    font-style: italic;
    font-family: "silkserif-regular";
    color: transparent;
}